
.card-container{
    display: flex;
    flex-direction: column;
    background-color: gray;
    border-radius: 1rem;
    justify-content: center;
}

.card-alignment{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-alignment-containers{
    width: 16.6%;
    display: flex;
    justify-content: center;
}

.card-body{
}

.card-header{
    
}